.task-list {
  display: grid;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 20;
  grid-template-columns: 80px 50px 1fr 2fr 200px;
}
.list-header {
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}
.list-item {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}
.deleteBtn {
  width: 50%;
  padding: 6px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}
.deleteBtn:hover {
  background-color: rgb(172, 1, 1);
}

.updateBtn {
  width: 50%;
  padding: 6px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}
.updateBtn:hover {
  background-color: rgb(1, 92, 1);
}

.delete-multiple {
  width: 100px;
}

.list-container {
  margin-left: 20px;
  margin-right: 20px;
}
